.App {
  text-align: center;
  min-height: 100vh;
  max-width: 1400px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  background: rgba(255, 155, 35, 0.8);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

h1 {
  color: #800020;
  font-weight: bold;
  font-size: calc(32px + 2vmin);
  font-family: 'Lobster', 'Helvetica', sans-serif;
  margin-left: auto;
  margin-right: auto;
}
