.app {
  text-align: center;
  min-height: 100vh;
  max-width: 1400px;
  width: 80%;
  padding: 10px;
  background: rgba(255, 155, 35, 0.8);
}

main, .app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

h1 {
  font-weight: bold;
  font-size: calc(32px + 2vmin);
  font-family: 'Lobster', 'Helvetica', sans-serif;
}

.app, header, main {
  margin-left: auto;
  margin-right: auto;
}

header {
  flex-grow: 1;
}

main {
  flex-grow: 100;
}