.search-fieldset {
  text-align: center;
  border: 2px dotted var(--color-burgundy);

  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  flex-grow: 1;
}

legend {
  font-size: 1em;
}

label {
  font-weight: bold;
  line-height: 2em;
}

#search-bar {
  width: 240px;
  font-size: 16px;
  font-size: max(16px, 1em);
  padding: 0.25em 0.5em;
  border: 2px solid var(--color-burgundy);
  border-radius: 4px;
}

@media only screen and (min-width: 600px) {
  #search-bar {
    width: 400px;
  }
}
